@import "tailwindcss";
@theme {
    --font-title: "Indie Flower", serif;
    --font-main: "Zain", serif;
    --color-bg: #f4f2ed;
    --color-main: #1A3636;
    --color-alt: #7b849b;
    --color-sec: #ff6542;
}
body {
    background-color: #f4f2ed;
}
.up, .down {
    background-image: url(../public/assets/noise_lines.webp);
    background-repeat: repeat;
}